@import 'variables.scss';
@import 'mixins.scss';

.questions {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    @media (min-width: 601px) {
        grid-template-columns: 1fr;
    }
    section {
        display: grid;
        row-gap: 10px;
    }
}

@include question-container();