@import 'variables.scss';
@import 'mixins.scss';

@include question-container();

.chkBoxList {
    @include rb-list-question();
    input {
        border-radius: 0;
    }
}

.disableOverlay {
    pointer-events: none;
    opacity: .8;
}