@import 'variables.scss';
@import 'mixins.scss';

.typeOptions {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    li {
        margin-right: 10px;
    }
}

.rbList {
    @include rb-list();
}