@import 'variables.scss';

@mixin double-centred {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin one-tick() {
    border-bottom: 3px solid rgba($colour,.8);  
    color: rgba($colour, 0.8);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23323232' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E") right 0px center no-repeat;
}

@mixin two-ticks() {
    border-bottom: 3px solid rgba($colour,.8);  
    color: rgba($colour, 0.8);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23323232' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E") right 20px center no-repeat, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23323232' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E") right 0px center no-repeat;
}

@mixin one-cross() {
    border-bottom: 3px solid rgba($colour,.8);  
    color: rgba($colour, 0.8);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23323232' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E") right 0px center no-repeat;
}

@mixin cue() {
    width: 20px;
    height: 20px;    
    margin-top: 2px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E") center no-repeat;
}

@mixin rb-list() {
    display: flex;
    align-items: center;
    &.disabled {
        pointer-events: none;
        opacity: .3;
    }
    input {
        appearance: none;
        border-radius: 50%;
        transition: all .2s linear;
        margin: 0 $space/2 0 0;
        padding: 0;
        cursor: pointer;
        border: .5rem solid rgba($colour, .5);
        &:checked {            
            border: .5em solid rgba($colour, .7);
            background-color: rgba($colour, .7);
        }
        &:checked + label {
            color: rgba($colour, .8);
        }
        &:focus {
            outline: none;
        }
        &.square {
            border-radius: unset;
        }    
    }
    label {
        cursor: pointer;
        color: rgba($colour, .6);
        span:nth-child(2) {
            font-size: .7rem;
        }
    }
}

@mixin active-screen() {
    width: auto;
    height: 240px;
    border: 1px dashed rgba($colour, .2);
    padding: 10px;
}

@mixin question-container() {
    .container {
        @include active-screen();
    }    
    .text {
        min-height: 50px;
        @include double-centred();
        font-style: italic;
    }
    .answers {
        min-height: 5 * 35px;
        li { 
            line-height: 2;
            min-height: 35px;
            span:nth-child(1) {
                cursor: pointer;
                color: rgba($colour,.8);            
                border-bottom: 3px solid rgba($colour,0.05);
                width: 200px;
                display: inline-block;
                &.correct { 
                    @include one-tick();
                }
                &.incorrect { 
                    border-bottom: 3px solid rgba($colour,.3);  
                    color: rgba($colour, 0.4);
                }
                &.correctOrder {
                    @include two-ticks();
                }
            }
            span:nth-child(2) {
                margin-left: 10px;
            }
        }
    }
    .flex {
        display: flex;
        button {        
            width: 100%;
        }
    }
    .hidden {
        display: none !important;
    }

    .invisible {
        visibility: hidden !important;
    }
}