@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap; /* or block, auto (probably block), fallback, optional */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('/fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('/fonts/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+000-5FF; /* Latin glyphs */
  }

@import 'variables.scss';

body {
    font-family: 'Open Sans', sans-serif;
    color: $colour;
    padding: 10px;
    max-width: $maxWidth;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgba($colour, 0.2);
    padding: 10px 0;
    font-style: italic;
    font-weight: bold;
}

h1 {
    opacity: .8;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    line-height: 1.5;
}

a {
    color: rgba($colour,.8);
    text-decoration: none;
    border-bottom: 1px solid rgba($colour,.6);
    padding-bottom: 2px;
    line-height: 2;
}

button {
    color: rgba($colour, 0.8);
    border: 3px solid rgba($colour, 0.6);
    background-color: rgba($colour, 0);
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
        border: 3px solid rgba($colour, 1);
        outline: none;
    }
    &.card {
        color: $colour;
        border: 1px solid rgba($colour, 0.3);
        box-shadow: 5px 3px 3px rgba($colour, 0.6);
    }
    &:disabled {
        color: rgba($colour, 0.5);
        border: 3px solid rgba($colour, 0.3);
    }
}

input {
    border: 1px solid rgba($colour, 0.3);
    font-size: 16px;
    padding: 10px;
    &:focus {
        border: 3px solid rgba($colour, 1);
        outline: none;
    }
}

button:disabled {
    cursor: unset;
}

.super {
    font-size: .6rem;
    vertical-align: super;
    margin-left: 2px;
}