@import 'variables.scss';
@import 'mixins.scss';

@mixin btn-text($element, $content) {
    &:#{$element}, &::#{$element} {        
      content: $content + ' card';
    }
    @media (max-width: $narrow) {
        &:#{$element}, &::#{$element} {        
            content: $content;
        }        
    }
  }
  
.cards {        
    display: grid;
    row-gap: 10px;
    .term {
        @include active-screen();
        @include double-centred();
        padding: 0;
        border: 1px solid transparent;
        background-color: rgba($colour, .8);
        color: rgba($colour-light, .8);
        cursor: pointer;
        overflow-y: scroll;
        scroll-behavior: smooth;
        & > span { 
            display: flex;
            align-items: center;
            height: inherit;
            margin: 10px;
        }
        @media (min-width: $narrow) {
            & > span { padding: 30px; }
        }
        &:hover {
            color: rgba($colour-light, 1);
        }
        &.definition {
            background-color: rgba($colour-light, .8);
            color: rgba($colour, .8);
            border: 1px solid rgba($colour, .3);
            .longDefinition {
                @media (max-width: 599px) {
                    align-items: flex-start;
                }
            }
        }
    }
    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        button {            
            &.next { @include btn-text('after', 'Next'); }
            &.flip { @include btn-text('after', 'Flip'); }
            &.shuffle { @include btn-text('after', 'Shuffle'); }
            &.previous { @include btn-text('after', 'Previous'); }        
        }
    }    
}