@import 'variables.scss';
@import 'mixins.scss';

@include question-container();

.pie {    
    display: flex;
    button {        
        background: conic-gradient(rgba($colour, .2) calc(var(--value, 0) * var(--unit)), rgba($colour, .6) calc(var(--value, 0) * var(--unit)));
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        border: none;
        cursor: pointer;
        opacity: .6;
        &:hover, &:focus, &.correct {
            border: none;
            opacity: 1;
        }
        margin: .25rem 0;
    }
    span { 
        width: 35px;
        margin-bottom: 15px;
        &.correct {
            @include one-tick();
        }
        &.incorrect { 
            @include one-cross();
        }
    }
}

.rbList {
    @include rb-list();
    width: 100px;
    min-height: 35px;
    border-bottom: 3px solid rgba($colour,0);  
    &.incorrect { 
        border-bottom: 3px solid rgba($colour,.3);  
        color: rgba($colour, 0.4);
        @include one-cross();
    }
    &.correct { 
        @include one-tick();
    }
}

.disableOverlay {
    pointer-events: none;
    opacity: .8;
}