@import 'variables.scss';

.container {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 45px 75px auto 45px;
    .date {
        display: none;
        font-weight: bold;
        color: rgba($colour, 0.6);
        margin-right: 10px;
    }
    @media (min-width: 601px) {
        grid-template-rows: 45px 40px auto 45px;
        .date {
            display: inline;
        }
    }
    height: 100%;
    position: relative;    
}