@import 'variables.scss';
@import 'mixins.scss';


.markedAnswers {
    margin: 10px 0;
    border: 1px dashed rgba($colour, .2);
    padding: 10px;
    .q {        
        color: rgba($colour, .7);
        display: grid;
        grid-template-columns: 55px auto 50px;
        align-items: center;
        position: relative;
        span {
            margin-right: 5px;
            line-height: 1.5;
        }
        span:nth-child(1) {
            font-style: italic;
            margin-right: 5px;
            min-width: 50px;
            font-size: .7rem;
        }
        span:nth-child(3) {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            height: inherit;
            width: 25px;
            background-color: rgba($colour, .5);
            color: rgba($colour-light, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .8rem;
        }
    }
    .a {
        display: flex;
        align-items: center;
        & > span:nth-child(1) {
            font-style: italic;
            margin-right: 5px;
            min-width: 50px;
            font-size: .7rem;
        }
    }
    .score {
        display: flex;
        margin-top: 5px;
        & > span:nth-child(2) {
            width: 20px;
        }
        & > span:nth-child(3) {
            margin-left: 5px;
        }        
    }
    .isCorrect {
        @include one-tick(14px);
        border-bottom: none;
    }
    .isIncorrect {
        @include one-cross(14px);
        border-bottom: none;
    }
    ul {
        li {
            font-size: .8rem;
        }
    }
}