@import 'variables.scss';
@import 'mixins.scss';


.markedAnswers {
    margin: 5px 0;
    .q {
        font-style: italic;
        color: rgba($colour, .7);
        span {
            margin-right: 5px;
        }
    }
    .a {
        span {
            margin-right: 5px;
        }
    }
    .score {
        display: flex;
    }
    .isCorrect {
        width: 24px;
        @include one-tick();
        border-bottom: none;
    }
}