@import 'variables.scss';
@import 'mixins.scss';

.container {
    height: calc(2rem + 10px);
    display: flex !important;
    align-items: center;
    span:nth-child(1) {
        @include graph();
        width: 20px;
        height: 20px;
    }
    span:nth-child(2) {
        background-color: rgba($colour, .7);
        color: $colour-light;
        padding: 5px 10px;
        margin-left: 5px;
        letter-spacing: .25px;
        height: calc(2rem - 10px);
    }
    span:nth-child(2).hidden {
        visibility: hidden;
    }
}